/* The sidebar menu */
.nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #262626; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
  font-family: "Calibri Light";
}

/* The navigation menu links */
.nav a {
  text-decoration: none;
  color: white;
  display: block;
}

.nav li {
  padding-left: 10%;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
  color: #f1f1f1;
}

/* The navigation menu links */
.nav .navbar-toggler {
  padding-left: 10%;
  color: white;
  text-align: left;
  margin:0;
  border:none;
  font:inherit;
}

#sideCollapsed {
	padding-left:6%;
}

#topList {
  font-size:25px;
  padding-right: 15%;
  padding-bottom: 15%;
  padding-top: 15%;
}

/* Style page content */
.main {
  margin-left: 18%; /* Same as the width of the sidebar */
  font-family: "Calibri Light";
}

.HeaderDiv .Header1 {
	opacity: 0.6;
}

.HeaderDiv {
	position: relative;
	text-align: center;
}

.HeaderDiv .HeaderText{
	position: absolute;
	font-size: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.homeText {
	padding-left:8%;
	padding-right:8%;
}

.homeText .homeHeader{
	padding-top:3%;
	padding-bottom:6%;
	color: #006680;
}

.titleText {
	color:#006680;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 7%;
	font-size: 60px;
}

.joinText h3{
	padding-left:8%;
	padding-right:8%;
}
.joinText p{
	padding-left:8%;
	padding-right:8%;
	padding-bottom:3%;
}

iframe {
  border:none;
}

.previousLeaguesHeader{
	padding-bottom:6%;
	color: #006680;
	text-align:center;
}

.container table {
  width:92%;
}

.indTable{
	padding-bottom:5%;
}

.tableHeader {
	background-color: #b3ccff;
	font-weight: bold;
	width: 92%;
	padding:2%;
}

tr, th {
	text-align: right;
	line-height: 10px;
}

tr:nth-child(even) {
	background-color: #ccebff;
}